<% include partials/header %>
<body>
  <div class="container">
    <div class="profile-header">
      <h1> Profile </h1>
      <p> This is all your personal information. If you would like to <br>make any changes please let an officer know.</p>
    </div>
    <div class="row">
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.password %>" id="disabled" type="password" class="validate">
        <label for="disabled">Password</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.firstname %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">First name</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.lastname %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Last name</label>
      </div>      
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.student_id %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Student ID</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.email %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Email</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.gender %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Gender</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.birthday %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Birthday</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.gradYear %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Class of</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.cell %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Cell phone</label>
      </div>   
       <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.canText %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Can you text?</label>
      </div>  
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.tshirt %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">T-Shirt size</label>
      </div>     
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.pfname %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Parent's First Name</label>
      </div>  
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.plname %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Parent's last Name</label>
      </div>   
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.relation %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Parent's relation to you</label>
      </div>   
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.pmail %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Parent's email</label>
      </div>    
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.updates %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Would your parents like updates?</label>
      </div>  
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.address %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Address</label>
      </div>  
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%= user.zipcode %>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Zipcode</label>
      </div>  
      <div class="input-field col s6 m4 l4">
        <input disabled value="<%=user.hours%>" id="disabled" type="text" class="validate profile-text">
        <label for="disabled">Volunteer Hours</label>
      </div>  
    </div>
  </div>
</body>